'.source.asciidoc:not(.markup.code)':

  # Release notes 3.x
  #
  'Release Notes 3.x bug fix update':
    description: 'When image advisory is RHBA'
    descriptionMoreURL: 'https://redhat-documentation.github.io/supplementary-style-guide/#release-notes'
    prefix: 'rn3-bug-fix'
    body: '''
      [[ocp-3-11-$1]]
      === RH$2A-2022:$3 - {product-title} 3.11.$1 bug fix update

      Issued: 2022-$6

      {product-title} release 3.11.$1 is now available. The list of packages and bug fixes included in the update are documented in the link:https://access.redhat.com/errata/RH$2A-2022:$3[RH$2A-2022:$3] advisory. The container images included in the update are provided by the link:https://access.redhat.com/errata/RH$4A-2022:$5[RH$4A-2022:$5] advisory.

      ${7:
      [[ocp-3-11-$1-bug-fix]]
      ==== Bug fix

      }
      [[ocp-3-11-$1-images]]
      ==== Images

      This release updates the Red Hat Container Registry (`registry.redhat.io`) with the following images:
      ----

      ----

      [[ocp-3-11-$1-updating]]
      ==== Updating

      To update an existing {product-title} 3.10 or 3.11 cluster to this latest release, see xref:../upgrading/index.adoc#install-config-upgrading-index[Upgrade methods and strategies] for instructions.
      '''
  'Release Notes 3.x security fix update':
    description: 'When image advisory is RHSA'
    descriptionMoreURL: 'https://redhat-documentation.github.io/supplementary-style-guide/#release-notes'
    prefix: 'rn3-security-fix'
    body: '''
      [[ocp-3-11-$1]]
      === RH$2A-2022:$3 - {product-title} 3.11.$1 bug fix and security update

      Issued: 2022-$6

      {product-title} release 3.11.$1, which includes security updates, is now available. The list of packages and bug fixes included in the update are documented in the link:https://access.redhat.com/errata/RH$2A-2022:$3[RH$2A-2022:$3] advisory. The container images included in the update are provided by the link:https://access.redhat.com/errata/RH$4A-2022:$5[RH$4A-2022:$5] advisory.

      ${7:
      [[ocp-3-11-$1-bug-fix]]
      ==== Bug fix

      }
      [[ocp-3-11-$1-images]]
      ==== Images

      This release updates the Red Hat Container Registry (`registry.redhat.io`) with the following images:
      ----

      ----

      [[ocp-3-11-$1-updating]]
      ==== Updating

      To update an existing {product-title} 3.10 or 3.11 cluster to this latest release, see xref:../upgrading/index.adoc#install-config-upgrading-index[Upgrade methods and strategies] for instructions.
      '''

  # Release notes 4.x
  #
  'Release Notes 4.x bug fix update':
    description: 'When image advisory is RHBA'
    descriptionMoreURL: 'https://redhat-documentation.github.io/supplementary-style-guide/#release-notes'
    prefix: 'rn4-bug-fix'
    body: '''
      [id="ocp-4-$1-$2"]
      === RH$3A-2022:$4 - {product-title} 4.$1.$2 bug fix update

      Issued: 2022-$7

      {product-title} release 4.$1.$2 is now available. The bug fixes that are included in the update are listed in the link:https://access.redhat.com/errata/RH$3A-2022:$4[RH$3A-2022:$4] advisory. The RPM packages that are included in the update are provided by the link:https://access.redhat.com/errata/RH$5A-2022:$6[RH$5A-2022:$6] advisory.

      Space precluded documenting all of the container images for this release in the advisory. See the following article for notes on the container images in this release:

      link:https://access.redhat.com/solutions/$8[{product-title} 4.$1.$2 container image list]
      ${9:
      [id="ocp-4-$1-$2-features"]
      ==== Features
      }

      ${10:
      [id="ocp-4-$1-$2-known-issues"]
      ==== Known issues
      }

      ${11:
      [id="ocp-4-$1-$2-bug-fixes"]
      ==== Bug fixes
      }
      [id="ocp-4-$1-$2-updating"]
      ==== Updating

      To upgrade an existing {product-title} 4.$1 cluster to this latest release, see xref:../updating/updating-cluster-cli.adoc[Updating a cluster using the CLI] for instructions.
      '''
  'Release Notes 4.x security fix update':
    description: 'When image advisory is RHSA'
    descriptionMoreURL: 'https://redhat-documentation.github.io/supplementary-style-guide/#release-notes'
    prefix: 'rn4-security-fix'
    body: '''
      [id="ocp-4-$1-$2"]
      === RH$3A-2022:$4 - {product-title} 4.$1.$2 bug fix and security update

      Issued: 2022-$7

      {product-title} release 4.$1.$2, which includes security updates, is now available. The bug fixes that are included in the update are listed in the link:https://access.redhat.com/errata/RH$3A-2022:$4[RH$3A-2022:$4] advisory. The RPM packages that are included in the update are provided by the link:https://access.redhat.com/errata/RH$5A-2022:$6[RH$5A-2022:$6] advisory.

      Space precluded documenting all of the container images for this release in the advisory. See the following article for notes on the container images in this release:

      link:https://access.redhat.com/solutions/$8[{product-title} 4.$1.$2 container image list]
      ${9:
      [id="ocp-4-$1-$2-features"]
      ==== Features
      }

      ${10:
      [id="ocp-4-$1-$2-known-issues"]
      ==== Known issues
      }

      ${11:
      [id="ocp-4-$1-$2-bug-fixes"]
      ==== Bug fixes
      }
      [id="ocp-4-$1-$2-updating"]
      ==== Updating

      To upgrade an existing {product-title} 4.$1 cluster to this latest release, see xref:../updating/updating-cluster-cli.adoc[Updating a cluster using the CLI] for instructions.
      '''
